
<form ngNativeValidate (ngSubmit)="onSubmit(newPublicationForm)" #newPublicationForm="ngForm">
<mat-form-field>
  <input matInput name="content" ngModel placeholder="content" required>
</mat-form-field>
<div>
  <button type="button" mat-button (click)="onClear(newPublicationForm)">Clear</button>
  <button mat-raised-button color="primary" type="submit">Save</button>
</div>
</form>
